{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "arrow-body-style": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    },
    "globals": {
        "react": true,
        "react-native": true
    }
}
